/*
font-family: 'Open Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
*/

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

hr {
  color: #E5E4E1;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}

.navbar-brand {
  text-decoration: none;
  color: black;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: .2em 2em;
  /* background: #0F2027;
  background: -webkit-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: -o-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
}

.navbar-links {
  display: flex;
}

.navbar-item {
  display: block;
  padding: 1em 2em;
  font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 5px;

  grid-template-areas:
  "header header header"
  "sidebarL contenido sidebarR"
  "footer footer footer";
}

.header {
  grid-area: header;
  display: grid;
  height: 60vh;
  text-align: center;
  color: white;

  background: #0F2027;
  background: -webkit-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: -o-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.header_post_detalle {
  grid-area: header;
  display: grid;
  height: 60vh;
  text-align: center;
  color: white;
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url("https://matiascandia.com.ar/content/images/size/w1920/2019/09/Instalaci-n-de-Python-Django-en-Linux.jpg"); */
}


.header-item {
  margin: auto;
}

.sidebarL {
  grid-area: sidebarL;
}

.contenido {
  grid-area: contenido;
  padding: 2em;
}

.sidebarR {
  grid-area: sidebarR;
}

.footer {
  grid-area: footer;
  text-align: center;
}


@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebarL sidebarL sidebarL"
      "sidebarR sidebarR sidebarR"
      "footer footer footer";
  }

  .navbar-brand {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .header {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}
