/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lora', serif;
*/

body{
  font-family: 'Open Sans', sans-serif;
}

.post-meta{
  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
}

.post-meta a{
  color: white;
  text-decoration: none;
}

.post-meta-left{
  float: left;
}
 
