<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Blog de Matias Candia">
  <meta name="author" content="Matias Candia">

  {% block head_content %}{% endblock %}

  {% load static %}
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"> -->
  <title>Matias Candia</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>

  <navbar>
    <ul class="navigation">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Sobre Mí</a></li>
      <li><a href="#">CV</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </navbar>

  <section class="container">
    <div class="header">
      <div class="item">
        {% block title %}
          <h1>Matias Candia</h1>
          <h2>Desarrollador Web | Analista SEO</h2>
        {% endblock %}
      </div>
    </div>
    <div class="sidebarL"></div>
    <div class="contenido">
      {% block content %}
      {% endblock%}
    </div>
    <div class="sidebarR"></div>
    <div class="footer">
      <p>Buenos Aires - Argentina</p>
    </div>
  </section>



</body>
</html>
