{% extends 'base.html' %}
{% load static %}

{% block head_content %}
  <title>Post Detalle</title>
{% endblock %}

{% block header %}<div class="header_post_detalle">{% endblock %}


{% block title %}
  <h1>{{ post.titulo }}</h1>
  <h3> publicado: {{ post.fecha_publicado }}</h3>
{% endblock %}

{% block content %}
  <br>
  {% if post.fecha_publicado %}
  <div class="date">
    {{ post.fecha_publicado }}
  </div>
  {% endif %}
  {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>editar</a>
  {% endif %}
  <p>{{ post.texto | safe }}</p>
  <br>
{% endblock%}
