{% extends 'index.html' %}

{% load staticfiles %}

{% block titulo %} {{ detallePost.titulo }}  {% endblock %}

{% block imagen %} {{ detallePost.imagen }} {% endblock imagen %}

{% block titulo_principal %} {{ detallePost.titulo }} {% endblock titulo_principal %}

{% block subtitulo_principal %}
  <p class="post-meta"><a href="#">{{ detallePost.autor }}</a> | {{ detallePost.fecha_publicado }}</p> 
{% endblock subtitulo_principal %}

{% block barra_busqueda %}

{% endblock barra_busqueda %}

{% block contenido %}
  {{ detallePost.contenido | safe }}
{% endblock contenido %}
