{% extends 'base.html' %}

{% block head_content %}
  <title>Matias Candia</title>
{% endblock %}

{% block title %}
  <h1>Matias Candia</h1>
  <h2>Desarrollador Web | Analista SEO</h2>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div>
      <p> publicado: {{ post.fecha_publicado }}</p>
      <h2><a href="{% url 'post_detalle' pk=post.pk %}">{{ post.titulo }}</a></h2>
      <!-- <p>{{ post.texto|linebreaksbr }}</p> -->
      <br>
      <hr>
      <br>
    </div>
  {% endfor %}
{% endblock %}
