{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Matias Candia">
  <meta name="google-site-verification" content="RCHEBYWz0YL94bWMEcbZp8-y41Z5wgcZsXkLE8VfA2s" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <title>{% block titulo %} Inicio {% endblock titulo %}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150348537-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-150348537-1');
  </script>

</head>
<body>

  {% include "blog/partials/navbar.html" %}

  <!-- Header  -->
  <header class="masthead" style="background-image: url('{% block imagen %}{% static 'img/matias-candia-blog.svg' %}{% endblock imagen %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>
              {% block titulo_principal %}
                <!-- Matias Candia -->
              {% endblock titulo_principal %}
            </h1>
            <span class="subheading">
              {% block subtitulo_principal %}
                <!-- Analista de Sistemas | Desarrolador Web -->
              {% endblock subtitulo_principal %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Search -->
  <!-- <div class="col-lg-8 col-md-10 mx-auto">
    {% block barra_busqueda %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 search">
          <form method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
                <span class="input-group-list">
                  <i class="icon icon-search"></i>
                  <button type="submit" class="boton btn-primary">Buscar</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock barra_busqueda %}
  </div> -->

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% block contenido %}
          {% if posts %}
            {% for post in posts %}
            <div class="post-preview">
              <a href="{% url 'blog:detallePost' post.slug %}">
                <h2 class="post-title">
                  {{ post.titulo }}
                </h2>
                <h5 class="post-subtitle">
                  {{ post.descripcion}}
                </h5>
              </a>
              <p class="post-meta post-meta-left"><a href="#">{{ post.autor }}</a> | {{ post.fecha_publicado }} </p>
            </div><br><br>
            <hr>
              {% endfor %}
            {% else %}
              <p>No exiten post registrados</p>
            {% endif %}
          {% endblock contenido %}

          <!-- Pager -->
          <div class="clearfix">
            {% if posts.has_previous %}
            <a class="btn btn-primary float-right" href="?page={{ posts.previous_page_number }} {% if request.GET.search %} &q = {{ request.GET.search }}{% endif %}">Posts Siguientes &rarr;</a>
            {% endif %}
            {% if posts.has_next %}
            <a class="btn btn-primary float-left" href="?page={{ posts.next_page_number }} {% if request.GET.search %} &q = {{ request.GET.search }}{% endif %}">Posts Anteriores &rarr;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <hr>

    {% include "blog/partials/footer.html" %}


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
    <script id="dsq-count-scr" src="//matiascandia-com-ar.disqus.com/count.js" async></script>

    <!-- script externo de prettify -->
    <script src="prettify.js"></script>
    <!-- iniciar función -->
    <script>window.onload=function(){
    prettyPrint();
    }
  </body>
  </html>
