<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Blog de Matias Candia">
  <meta name="author" content="Matias Candia">

  {% block head_content %}{% endblock %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>

  {% include "partials/navbar.html" %}

  <section class="container">
    <div class="header">
      <div class="item">
        {% block title %}{% endblock %}
      </div>
    </div>
    <div class="sidebarL"></div>
    <div class="contenido">
      {% block content %}
      {% endblock%}
    </div>
    <div class="sidebarR"></div>
    <div class="footer">
      <p>Buenos Aires - Argentina</p>
    </div>
  </section>



</body>
</html>
